// =============================================================================
// SAFS Variables
// =============================================================================

// Colors
$primary-color: #258cfb;
$white: white;

// Typography
$font-size-base: 14px;
$font-size-md: 16px;

// Breakpoints
$breakpoint-md: 768px;

// Spacing
$body-margin-bottom: 60px;

// Focus ring
$focus-ring-width: 0.1rem;
$focus-ring-spread: 0.25rem;
